body {
    margin: 0;
    background-color: pink;
}

header {
    background-image: url(pattern.png);
    height: 200px;
    align-content: center;
    justify-content: center;
}

#banner-text {
    font-size: 50px;
    text-shadow: 2px;
    text-shadow: black;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;

}

h2 {
    display: flex;
    justify-content: center;
}

nav {
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 50px;
    border: 2px solid black;
}

p {
    display: flex;
    justify-content: center;
    size: 50%;
    border: 2px solid black;
    margin-left:auto;
    margin-right:auto;
    text-align:center;

}

img {
    align-items: center;
    max-width: 15%;
    max-height: 15%;
    margin: 0;
    display: block;
    margin: 0 auto;
    }

.myImage {
    float: center;
    height: 400px;
    width: 1000px;
}

.heading {
   margin: 0;
}